---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogEntries from "@/components/entries/BlogEntry.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    // Filter posts by tag
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    // Sort filtered posts by date in descending order
    const sortedPosts = filteredPosts.sort(
      (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
    );

    return {
      params: { tag },
      props: { posts: sortedPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <section>
    <div class="py-24">
      <h1
        class="text-4xl text-balance font-medium font-display text-base-900 max-w-xl"
      >
        All tags
      </h1>
      <div class="grid grid-cols-1 mt-4 gap-8 gap-y-24 sm:grid-cols-2">
        {
          posts.map((post) => (
            <BlogEntries
              url={"/posts/" + post.slug}
              title={post.data.title}
              description={post.data.description}
              alt={post.data.title}
              pubDate={post.data.pubDate.toString().slice(0, 10)}
              author={post.data.author}
              image={post.data.image.url}
              tags={post.data.tags}
            />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
