---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Title"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section>
    <div class="px-8 py-12 md:px-12 mx-auto lg:pt-24 max-w-7xl lg:px-32">
      <div class="lg:text-center">
        <img
          class="lg:h-72 w-full  object-cover object-center"
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          />
         <div class="flex  flex-col md:flex-row mt-4 justify-between">
            <p class="text-xs text-zinc-500 ">{frontmatter.pubDate.toString().slice(0, 10)} - Written by: {frontmatter.author}</p>
           <div class="flex gap-3">
              {
                frontmatter.tags.map((tag) => (
                  <span class="inline-flex items-center uppercase    hover:text-blue-500   text-xs font-medium text-black">
                    <a href={`/tags/${tag}`}>{tag}</a>
                  </span>
                ))
              }
           </div>
         </div>
        <h1
        class="text-4xl tracking-tight text-balance mt-12 lg:mt-16 font-medium font-display text-black md:text-8xl"
        >
        {frontmatter.title}
      </h1>
        <p class="max-w-2xl mt-8 mx-auto text-zinc-500">
          <em>{frontmatter.description}</em>
        </p>

      </div>

      <div class="mt-12 max-w-2xl mx-auto">
        <div class="prose-styles">
          <slot />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
